click==6.6
drawille==0.1.0
Flask==0.11
Flask-Cors==2.1.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
npyscreen==4.10.5
numpy==1.11.0
Pillow==2.5.0
protobuf==3.0.0b2
psutil==4.2.0
ptop==0.0.6
PyAutoGUI==0.9.33
PyMsgBox==1.0.3
pyobjc-core==3.1.1
pyobjc-framework-Cocoa==3.1.1
pyobjc-framework-Quartz==3.1.1
PyScreeze==0.1.8
PyTweening==1.0.3
redis==2.10.5
six==1.10.0
tensorflow==0.8.0
wcwidth==0.1.6
Werkzeug==0.11.10
wheel==0.29.0
